*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background: #1f2536;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

select option {
  background: #1f2536;
}
